<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.google.eclipse.javascript.jstestdriver.core.jstdLaunchListener" name="JSTD Launch Listener" schema="schema/com.google.eclipse.javascript.jstestdriver.core.jstdLaunchListener.exsd"/>
   <extension-point id="com.google.eclipse.javascript.jstestdriver.core.PortSupplier" name="com.google.eclipse.javascript.jstestdriver.core.PortSupplier" schema="schema/com.google.eclipse.javascript.jstestdriver.core.PortSupplier.exsd"/>
   <extension-point id="com.google.jstestdriver.hooks.TestListener" name="com.google.jstestdriver.output.TestListener" schema="schema/com.google.jstestdriver.hooks.TestListener.exsd"/>

</plugin>
